body{
  background: url(/Users/ellenpark/Desktop/Profile-Page-/Images/dust_scratches.png);
}
/* Background pattern from Toptal Subtle Patterns */

h1{ 
  font-size: large;
  font-weight: bold;
}
#profImg{
  height: 30em;
  width: 30em;
}
#schedule {
  height: 110%;
}
.image {
  padding: 2em;
}
.fa {
  background: #3B5998;
  color: white;
  padding: 15px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer{
     position: relative;
    border-top: 8px solid lightblue;
    text-align: center;
    background-color: gray;
    font-family: "Arial", "Helvetica Neue", Hel;
    font-size: 10px;
    margin: auto;
    padding: 15px;
    width: 100%;
    color: #cccccc;
}