body {
  background: url(Images/dust_scratches.png);
}
/* Background pattern from Toptal Subtle Patterns */

#name {
  font-family: 'Nanum Myeongjo', serif;
  margin-left: 40px;
}

#bio{
 line-height: 25px;
}

#skills{
  line-height: 25px;
 }
 
.border { 
  border-radius: 10%;
  padding: 30px;
}

.title {
  font-family: 'Nanum Myeongjo', serif;
  margin-top: 20px;
}

#profImg {
  height: 30em;
  width: 20em;
  border-radius: 10%;
}

.row {
  padding: 20px;
}

.container {
 width: 90%;
}

#schedule {
  height: 110%;
}

img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px #e2e1e1; 
}

.fa {
  background: #3B5998;
  color: white;
  padding: 15px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer{
    position: relative;
    border-top: 8px solid lightblue;
    text-align: center;
    background-color: gray;
    font-family: "Arial", "Helvetica Neue", Hel;
    font-size: 10px;
    margin-top: 10em;
    padding: 15px;
    width: 100%;
    color: #cccccc;
}